<section class="relative min-h-screen w-full overflow-hidden">
  <div class="min-h-full relative z-10 pt-[56px] pb-6 px-5 lg:h-screen overflow-hidden">
    <div
      class="max-w-[1000px] mx-auto px-5 pt-8 pb-6 flex flex-col items-start gap-6 md:pt-12 lg:px-0"
    >
      <h1
        class="text-[3rem] font-medium text-white leading-[1] tracking-[-0.13rem] md:text-[6.5rem] md:tracking-[-0.13rem]"
      >
        Change the way you money
      </h1>
      <p class="w-full text-[1.125rem] leading-[1.5rem] text-white lg:w-[40%]">
        Home or away, local or global — move freely between countries and currencies. Sign up for
        free, in a tap.
      </p>
      <a
        href="#"
        class="inline-block py-[10px] px-6 rounded-full text-white bg-[#191c1f] cursor-pointer transition-colors hover:opacity-[.85]"
        >Download the app</a
      >
    </div>

    <div class="-z-10 absolute inset-0 overflow-hidden bg-hero-sky">
      <img
        ngSrc="assets/images/blue_sky_background.png"
        alt="Blue Sky Background"
        fill
        priority
        class="object-cover"
      />
    </div>
    <div
      class="-z-10 absolute bottom-0 left-1/2 transform -translate-x-1/2 w-[201.6vh] h-[112vh] min-h-[370px] min-w-[665px] lg:origin-[50%_100%] lg:w-[126vh] lg:h-[70vh] lg:scale-[1.75]"
    >
      <img
        ngSrc="assets/images/woman-confident.png"
        alt="Woman Confident"
        fill
        priority
        class="object-cover"
      />
    </div>

    <div class="-z-10 mt-8 flex items-center justify-center">
      <div
        class="relative mb-4 w-[49.6063vh] border-[#c9c9cd] border-[3px] rounded-[2.5vh] lg:-translate-y-[42%] lg:origin-[50%_100%] lg:scale-[1]"
      >
        <div class="absolute w-full h-full">
          <img
            ngSrc="assets/images/hero-account-sample.png"
            alt="Account Sample"
            fill
            class="object-contain"
          />
        </div>
        <div class="w-full h-[0]" style="padding-bottom: calc(1 / 0.7086614173228346 * 100%)"></div>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center py-12 md:py-16 lg:py-[80px] px-5">
    <div class="mb-6 flex flex-col items-center gap-4">
      <h2 class="font-medium leading-[1] text-[3rem]">Your salary, reimagined</h2>
      <p class="text-[1.125rem] text-center leading-[1.5rem] text-[#191c1f]">
        Spend smartly, send quickly, sort your salary automatically, and watch your savings grow —
        all with Revolut.
      </p>
      <a
        href="#"
        class="inline-block py-[10px] px-6 mt-4 rounded-full text-white bg-[#191c1f] cursor-pointer transition-colors hover:opacity-[.85]"
        >Move your salary</a
      >
    </div>
    <div class="self-center relative w-[232px] h-[327.378px]">
      <div
        class="absolute w-[232px] h-[327.378px] account-left-transform opacity-100 transition duration-300"
      >
        <img
          ngSrc="assets/images/account-cards/account-card-1.png"
          alt="Account Sample 1"
          fill
          priority
          class="object-cover rounded-[20px]"
        />
      </div>
      <div class="absolute w-[232px] h-[327.378px] opacity-100 transition duration-300">
        <img
          ngSrc="assets/images/account-cards/account-card-2.png"
          alt="Account Sample 2"
          fill
          priority
          class="object-cover rounded-[20px]"
        />
      </div>
      <div
        class="absolute w-[232px] h-[327.378px] account-right-transform opacity-100 transition duration-300"
      >
        <img
          ngSrc="assets/images/account-cards/account-card-3.png"
          alt="Account Sample 3"
          fill
          priority
          class="object-cover rounded-[20px]"
        />
      </div>
    </div>
  </div>
</section>

<section class="max-w-[1000px] mx-auto px-5 my-12 lg:px-0 lg:my-[80px]">
  <div class="flex flex-col items-center">
    <h2
      class="mb-14 sm:text-center text-[#505a63] text-[1.5rem] leading-[1.75rem] tracking-[-0.015rem] lg:text-[2rem] lg:leading-[2.375rem] lg:tracking-[-0.02rem]"
    >
      Join 65+ million customers worldwide and 12 million in the UK
    </h2>
    <div class="flex flex-wrap gap-6 items-start justify-center">
      @for (award of awards; track award.title) {
        <div class="flex flex-col gap-2 md:gap-4 w-[146px] md:w-[231px]">
          <div class="relative h-[51px] sm:h-[80px]">
            <div class="absolute inset-0 w-full h-full">
              <img ngSrc="{{ award.image }}" alt="{{ award.title }}" fill class="object-cover" />
            </div>
          </div>
          <p class="font-medium text-center text-base leading-[1.375rem] text-[#717173]">
            {{ award.title }}
          </p>
        </div>
      }
    </div>
    <div
      class="w-full flex flex-wrap gap-6 items-start justify-around px-5 my-12 lg:px-0 lg:my-[80px]"
    >
      @for (award of awardBadges; track award.title) {
        <div class="flex flex-col gap-2 md:gap-4 w-[146px] md:w-[316px]">
          <div class="relative h-[51px] sm:h-[110px]">
            <div class="absolute inset-0 w-full h-full">
              <img ngSrc="{{ award.image }}" alt="{{ award.title }}" fill class="object-cover" />
            </div>
          </div>
          <p class="font-medium text-center text-base leading-[1.375rem] text-[#717173]">
            {{ award.title }}
          </p>
        </div>
      }
    </div>
  </div>
</section>

<section>
  <div class="relative w-full h-screen min-h-[640px] text-[#f4f4f4]">
    <div class="absolute top-0 -z-10 w-full h-full">
      <video appParallax [parallaxSpeed]="0.1" autoplay muted class="w-full h-full object-cover">
        <source src="assets/videos/bg-physical-card.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="max-w-[1000px] mx-auto py-[48px] h-full lg:py-[64px]">
      <div class="h-full flex flex-col items-start md:items-center">
        <div class="mb-6 lg:mb-8">
          <div class="px-5 flex flex-col gap-4 items-start lg:px-0 lg:items-center lg:gap-6">
            <h2
              class="font-medium text-[2.25rem] leading-[1] md:text-[3.75rem] tracking-[-0.0375rem]"
            >
              Elevate your spend
            </h2>
            <div class="w-full flex flex-col items-start md:items-center gap-1 md:gap-2 lg:w-[60%]">
              <p class="text-[1.125rem] md:text-center leading-[1.5rem]">
                Earn points on your purchases with one of our debit cards. Then redeem them for
                Airline Miles and more. RevPoints T&Cs apply.
              </p>
              <span
                class="font-inter text-[0.75rem] md:text-center leading-[1.125rem] tracking-[0.01125rem]"
                >Some cards available on paid plans only. Fees may apply.</span
              >
            </div>
            <div class="mt-1 lg:mt-2">
              <a
                href="#"
                class="inline-block max-w-[240px] py-[10px] px-6 rounded-full text-black bg-[#f4f4f4] cursor-pointer transition-colors hover:opacity-[.85] md:max-w-[440px] lg:max-w-[720px]"
                >Start earning</a
              >
            </div>
          </div>
        </div>

        <div class="w-full max-h-[388px] lg:max-h-[500px] flex-auto"></div>

        <div class="w-full mt-4 px-5 flex gap-3 items-center justify-center md:mt-6 lg:px-0">
          <button
            class="inline-block h-[42px] px-[24px] rounded-full text-black bg-[#f4f4f4] transition-colors cursor-pointer hover:opacity-[.85]"
          >
            Physical cards
          </button>
          <button
            class="inline-block h-[42px] px-[24px] rounded-full text-[#f4f4f4] bg-[#f4f4f4]/10 border-[2px] border-[#f4f4f4] transition-colors cursor-pointer hover:bg-[#f4f4f4]/20 hover:opacity-[.85]"
          >
            Virtual cards
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="relative w-full h-screen min-h-[640px] text-[#f4f4f4] overflow-hidden">
    <div class="absolute top-0 -z-10 w-full h-full">
      <img
        appParallax
        [parallaxSpeed]="0.1"
        ngSrc="assets/images/backgrounds/bg-adventure-landscape.png"
        alt="Background for Adventure"
        fill
        class="object-cover scale-110 will-change-transform"
      />
    </div>
    <div class="max-w-[1000px] mx-auto py-[48px] h-full lg:py-[64px]">
      <div class="h-full flex flex-col items-start md:items-center">
        <div class="mb-6 lg:mb-8">
          <div class="px-5 flex flex-col gap-4 items-start lg:px-0 lg:items-center lg:gap-6">
            <h2
              class="font-medium text-[2.25rem] leading-[1] md:text-[3.75rem] tracking-[-0.0375rem]"
            >
              Life, meet savings
            </h2>
            <div class="w-full flex flex-col items-start md:items-center gap-1 md:gap-2 lg:w-[60%]">
              <p class="text-[1.125rem] md:text-center leading-[1.5rem]">
                Grow your money with up to 4.00% AER/Gross (variable) interest rate on Savings, paid
                every day.
              </p>
              <span
                class="font-inter text-[0.75rem] md:text-center leading-[1.125rem] tracking-[0.01125rem]"
                >AER stands for Annual Equivalent Rate and illustrates what the interest rate would
                be if interest was paid and compounded once each year. Gross is the interest rate
                without tax deducted. The interest rate is variable and subject to your selected
                plan. T&Cs apply.
              </span>
            </div>
            <div class="mt-1 lg:mt-2">
              <a
                href="#"
                class="inline-block max-w-[240px] py-[10px] px-6 rounded-full text-black bg-[#f4f4f4] cursor-pointer transition-colors hover:opacity-[.85] md:max-w-[440px] lg:max-w-[720px]"
                >Explore Savings</a
              >
            </div>
          </div>
        </div>

        <div class="relative w-full max-h-[388px] lg:max-h-[500px] flex-auto">
          <div class="absolute inset-0 left-1/2 -translate-x-1/2 h-full aspect-2/1">
            <img
              ngSrc="assets/images/account-cards/account-adventure.png"
              alt="Saving Account for New Adventure"
              fill
              class="object-cover"
            />
          </div>
        </div>

        <div class="w-full mt-4 px-5 flex gap-3 items-center justify-center md:mt-6 lg:px-0">
          <button
            class="inline-block h-[42px] px-[24px] rounded-full text-black bg-[#f4f4f4] transition-colors backdrop-blur-lgcursor-pointer hover:opacity-[.85]"
          >
            Adventure
          </button>
          <button
            class="inline-block h-[42px] px-[24px] rounded-full text-[#f4f4f4] bg-[#f4f4f4]/10 border-[2px] border-[#f4f4f4] transition-colors backdrop-blur-lg cursor-pointer hover:bg-[#f4f4f4]/20 hover:opacity-[.85]"
          >
            Wedding
          </button>
          <button
            class="inline-block h-[42px] px-[24px] rounded-full text-[#f4f4f4] bg-[#f4f4f4]/10 border-[2px] border-[#f4f4f4] transition-colors backdrop-blur-lg cursor-pointer hover:bg-[#f4f4f4]/20 hover:opacity-[.85]"
          >
            Moving
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="w-full h-[90vh] min-h-[640px] overflow-hidden">
    <div class="max-w-[1000px] mx-auto py-[48px] h-full lg:py-[64px]">
      <div
        class="h-full grid items-center justify-between"
        style="grid-template-columns: 488px 450px"
      >
        <div class="px-5 flex flex-col gap-4 items-start lg:px-0 lg:gap-6">
          <h2
            class="font-medium text-[2.25rem] leading-[1] md:text-[3.75rem] tracking-[-0.0375rem]"
          >
            Your money’s safe space
          </h2>
          <p class="my-[1em] text-[1.125rem] leading-[1.5rem]">
            With Revolut Secure, you’re entering a new era of money security — where our proactive,
            purpose-built defences and team of fraud specialists help protect every account, 24/7.
          </p>
          <div class="mt-1 lg:mt-2">
            <a
              href="#"
              class="inline-block max-w-[240px] py-[10px] px-6 rounded-full text-white bg-[#191c1f] cursor-pointer transition-colors hover:opacity-[.85] md:max-w-[440px] lg:max-w-[720px]"
              >Learn more</a
            >
          </div>
        </div>

        <div class="relative w-full h-full max-h-[446px] lg:max-h-[600px]">
          <div class="absolute top-0 left-1/2 -translate-x-1/2 -z-10 h-full aspect-[0.75/1]">
            <video autoplay muted class="w-full h-full object-cover">
              <source src="assets/videos/pin-r.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="relative w-full h-screen min-h-[640px] bg-black text-[#f4f4f4] overflow-hidden">
    <div class="max-w-[1000px] mx-auto py-[48px] h-full lg:py-[64px]">
      <div class="h-full flex flex-col items-start md:items-center">
        <div class="mb-6 lg:mb-8">
          <div class="px-5 flex flex-col gap-4 items-start lg:px-0 lg:items-center lg:gap-6">
            <h2
              class="font-medium text-[2.25rem] leading-[1] md:text-[3.75rem] tracking-[-0.0375rem]"
            >
              Explore 2,500+ stocks
            </h2>
            <div class="w-full flex flex-col items-start md:items-center gap-1 md:gap-2 lg:w-[60%]">
              <p class="text-[1.125rem] md:text-center leading-[1.5rem]">
                From Apple to Zoom, invest in some of the biggest and most influential companies in
                the world, commission-free within your monthly allowance.
              </p>
              <span
                class="font-inter text-[0.75rem] md:text-center leading-[1.125rem] tracking-[0.01125rem]"
                >Other fees may apply. Capital at risk.
              </span>
            </div>
            <div class="mt-1 lg:mt-2">
              <a
                href="#"
                class="inline-block max-w-[240px] py-[10px] px-6 rounded-full text-black bg-[#f4f4f4] cursor-pointer transition-colors hover:opacity-[.85] md:max-w-[440px] lg:max-w-[720px]"
                >Try it out</a
              >
            </div>
          </div>
        </div>

        <div class="relative w-full max-h-[388px] lg:max-h-[500px] flex-auto">
          <div class="absolute inset-0 left-1/2 -translate-x-1/2 h-full aspect-2/1">
            <video autoplay muted class="w-full h-full object-cover">
              <source src="assets/videos/stocks-spin.mp4" type="video/mp4" />
            </video>
          </div>
        </div>

        <div class="w-full mt-4 px-5 flex gap-3 items-center justify-center md:mt-6 lg:px-0">
          <button
            class="inline-block h-[42px] px-[24px] rounded-full text-black bg-[#f4f4f4] transition-colors backdrop-blur-lgcursor-pointer hover:opacity-[.85]"
          >
            Stocks
          </button>
          <button
            class="inline-block h-[42px] px-[24px] rounded-full text-[#f4f4f4] bg-[#f4f4f4]/10 border-[2px] border-[#f4f4f4] transition-colors backdrop-blur-lg cursor-pointer hover:bg-[#f4f4f4]/20 hover:opacity-[.85]"
          >
            Commodities
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="my-12 relative w-full overflow-hidden lg:my-[80px]">
    <div class="max-w-[1000px] mx-auto">
      <div class="flex flex-col items-start md:items-center">
        <div class="px-5 flex flex-col gap-4 items-start lg:px-0 lg:items-center lg:gap-6">
          <h2
            class="font-medium text-[2.25rem] leading-[1] md:text-[3.75rem] tracking-[-0.0375rem]"
          >
            Join the 65+ million using Revolut
          </h2>
          <div class="mt-1 lg:mt-2">
            <a
              href="#"
              class="inline-block max-w-[240px] py-[10px] px-6 rounded-full text-white bg-[#191c1f] cursor-pointer transition-colors hover:opacity-[.85] md:max-w-[440px] lg:max-w-[720px]"
              >Download the app</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="max-w-[1000px] mx-auto px-5 pb-[60px] lg:px-0 lg:pb-[235px]">
    <div class="font-inter font-light text-[0.75rem] leading-[1.125rem] tracking-[0.01125rem]">
      <div class="flex flex-col gap-5">
        <p>¹FOR STOCK TRADING: Capital at risk.</p>
        <p>
          Revolut Trading Ltd provides a non-advised execution-only service in shares. Revolut
          Trading Ltd does not provide investment advice or personal recommendations. You, as an
          individual investor, must make your own decisions, seeking independent professional advice
          if you are unsure as to the suitability or appropriateness of any investment for your
          individual circumstances or needs.
        </p>
        <p>
          The value of investments can go up as well as down and you may receive less than your
          original investment or lose the value of your entire initial investment. Past performance
          and forecasts are not reliable indicators of future results. Currency rate fluctuations
          can adversely impact the overall returns on your original investment. Any trades outside
          of your monthly allowance are charged at 0.25% of the order amount if you are a Standard,
          Plus, Premium, or Metal customer, or at 0.12% of the order amount if you are an
          Ultra/Trading Pro customer.
          <a href="#" class="underline hover:text-[#494fdf]">Read more on these fees</a>. Further
          information about the investment service provided by Revolut Trading Ltd can be found in
          the <a href="#" class="underline hover:text-[#494fdf]">Terms of Business</a>,
          <a href="#" class="underline hover:text-[#494fdf]">Risk Disclosure</a>, and
          <a href="#" class="underline hover:text-[#494fdf]">Invest FAQs</a>.
        </p>
        <p>
          Revolut Trading Ltd (No. 11567840) is a firm authorised and regulated by the Financial
          Conduct Authority (FRN: 933846). The registered address of Revolut Trading Ltd is at 7
          Westferry Circus, Canary Wharf, London, England, E14 4HD.
        </p>
        <p>
          ²FOR COMMODITIES: Capital at risk. <br />
          Revolut Ltd commodities service is not regulated by the FCA and it is not protected or
          covered by the Financial Ombudsman Service, or the Financial Services Compensation Scheme.
        </p>
        <p>
          Revolut Ltd (No. 08804411) is also authorised by the FCA under the Electronic Money
          Regulations 2011 (Firm Reference 900562). Insurance related-products are arranged by
          Revolut Travel Ltd which is authorised by the FCA to undertake insurance distribution
          activities (FCA No: 780586) and by Revolut Ltd, an Appointed Representative of Revolut
          Travel Ltd in relation to insurance distribution activities.
        </p>
        <p>
          If you would like to find out more about which Revolut entity you receive services from,
          or if you have any other questions, please reach out to us via the in-app chat in the
          Revolut app.
        </p>
      </div>
    </div>
  </div>
</section>
