/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import '@fontsource-variable/inter';

@font-face {
  font-family: 'Aeonik Pro';
  src: url('assets/fonts/aeonik-pro/aeonik-pro-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('assets/fonts/aeonik-pro/aeonik-pro-light-italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('assets/fonts/aeonik-pro/aeonik-pro-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('assets/fonts/aeonik-pro/aeonik-pro-regular-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('assets/fonts/aeonik-pro/aeonik-pro-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('assets/fonts/aeonik-pro/aeonik-pro-bold-italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-aeonik-pro: 'Aeonik Pro', sans-serif;
  --font-inter: 'Inter Variable', sans-serif;
}
